body {
  margin: 0;
  font-family: Helvetica, sans-serif;
   font-size: 1.5vw;
 z-index: 0;
}

a {
  color: white;
}



/* header */

.header {
  background-color: black;
    
  width: 100%;
}

.header ul {
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
  font-size: 13px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #688095;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 440px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
/*container 1st -----------*/
.container_first{
  background-image: url(dubai_cover.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 5%;
  padding-bottom: 2%;
  color: white; 
}
.iza7a{
  margin-left: 10%;
}
.title1{
  font-size: 2vw;
  margin-top: 8%;
}
.title1_1{
  font-size: 1vw;
}


.explorebtn{
  background-color: white;
  color: black;
  display: flex;
  width: 14%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 1.2vw;
  margin-bottom: 20%;
  margin-top: 5%;
}
.explorebtn:hover{
  color: #C49D48;
background-color: #FFF;
}

/*second container ----------------*/
.contain-second{
  position: relative;
  min-height: 40vw;
}

.inner_layer1{
 width: 100%;
  position: absolute;
  display: flex;
  z-index: 0;
  top: 0%;
  
}
.imageflex{
  display: flex;
}
.imageflex img{
width: 23%;
height: auto;
}
.leblock{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
}
.leblock h1{
  font-size: 1.8vw;
}
.leblock p{
  font-size: 0.9vw;
  margin: 0
}

.arrows{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.arrows img {
  width: 25%;
  padding-right: 1%;
}
/*----- second part-------*/
.backgroundimg{
  background: linear-gradient(rgb(0,0,0,0.4),rgb(0,0,0,0.4)),url(nop1.png);
  background-size: 100% 100%;
  width: 100%;
  height: 45vw;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;align-items: center;
  position: relative;
}

.secondinner{
  
  top: 0;
  display: flex;
  width:100%;
  background-color: #E2EAF0;
}
.secondinner img{
  width: 40%;
  height: auto;
}
.rightcontent{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rightcontent p{
  font-size: 1vw;
}
.rightcontent h1{
  font-size: 2vw;
}
.thirdright{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.thirdright img{
  padding: 10%;
  background-color: #C49D48;
  border-radius: 60%;
  margin-left:10%;

}
.thirdright img:hover{
  color: #C49D48;
background-color: #FFF;
}

.rightcontent img{
  width: 20%;
}
/*samta style-------------*/
.samta{
  background-color: #333;
  background-image: url("bg3.png");
  background-size: 100% 100%;
  color: white;
  height: auto;
  padding: 2vw;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.btn{
  background-color: #C49D48;
  display: flex;
  padding: 1vw;

}
.btn:hover{
color: #C49D48;
background-color: #FFF;
}

.t1{
  margin-left: 1vw;
}
.t1 p{
  margin: 0;  
}
.margin_space{
  margin-bottom: 2vw;
}
.margin_space input {
  width: 29vw;
  height: 4vw;
}
.divsfooter {
	
  width: 100%;
  
 z-index: 0;
  display: flex;
  justify-content:space-evenly;
  align-items: center;

}
.divsfooter div {
  width: 30%;
  height: 100%;
  text-align: center;
}

.chfooter {
  display: flex;
  background-color: #000;
  color: #CCCCCC;
  justify-content: space-between;
  z-index: 0;
}




.








/* Menu media query */

@media (min-width: 890px) {
  .header{
    height:76px;
    background-color: transparent;
  }
  .header ul{
     background-color: transparent;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 50px;
  }
  .header .menu-icon {
    display: none;
  }
  .inner_layer1{
  z-index: 3;
  top: -33%;
}
.secondinner{
  position: absolute;
  top: -23%;
  display: flex;
  width:65%;
  background-color: #E2EAF0;
}
}