@font-face{
	font-family: 'Montserrat light'
	src:url(fonts/Montserrat-Light.otf);
	font-style: normal;
}
@font-face{
	font-family: 'Montserrat medium'
	src:url(fonts/Montserrat-Medium.otf);
	font-style: normal;
}
@font-face{
	font-family: 'Montserrat SemiBold '
	src:url('./fonts/MMontserrat-SemiBold');
}
body{
	margin: 0;
	padding: 0;
	font-family: Montserrat light;
	line-height: 1.6;
	letter-spacing: 2px;
	width: 100%;
}
/*-------------------------------the big container of 1st part*/
.sectionz{
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("bg.JPG");
}


a {
  color: #FFF;
}

/* header */

.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
}

.header li a {
  display: block;
  padding: 20px 20px;
  
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #23527C;
}

.header .logo {
  
  float: left;
  width: 200px;
  padding: 10px 20px;
}
.header .logo2{
width: 100%;
}
#heightbutton{
	background-color: #008AFF;

	
	border-radius: 30px;
	

}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #FFF;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #FFF;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 700px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 48em = 768px @ 16pt font */


/*--------------------second part of the 1St big container*/
.center-contain{
	font-family: Montserrat medium;
	font-weight: 100;
	font-size: 24px;
	display: flex;
	justify-content: flex-start;
	margin-left: 10%;
}
.header2nd {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	justify-content: space-around;

}
.slogan{color: white;
}
.soustitre{
	color: white;
	z-index: 0
}
.buttons{
	display: flex;

	margin-top: 40px; 
	margin-bottom: 60px;
}
#fav1 {
	background-color: transparent;
	color: white;
	text-decoration: none;
	border:1px solid;
	border-radius: 30px;
	padding-top:20px ;
	padding-bottom:20px ;
	padding-left:40px ;
	padding-right:40px ;
}
#fav2 {
	background-color: #008AFF;
	color: white;
	text-decoration: none;
	border-radius: 30px;
	padding-top:20px ;
	padding-bottom:20px ;
	padding-left:40px ;
	padding-right: 40px;

}
/*hovers ------------------list-style-position:  */
nav a:hover {
	color: #23527C;
}
#heightbutton:hover{
background-color: white;
color: black;
}
#fav1:hover{
background-color: white;
color: black;
}
#fav2:hover{
background-color: white;
color: black;
}
.non-non-button:hover{
	background-color: white;
	color: black;
	box-shadow:20px 20px 10px grey

}
/*-----------------------bridge*/
/*------------styles second part*/
.firstpart{
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
	font-family: Montserrat SemiBold;
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 2PX;
}
/*---------center text*/

.centering p
{
	text-align: center;
	margin-bottom: 60px;
	letter-spacing: 2px;
}

/*-----------------time to flex*/
.layers {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 100px;
	text-align: center;
}

.floating{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.floating p{
	text-align: center;
	letter-spacing: 1px;
}
/*the contain two style*/
.contain-two{
	display: flex;
	background-color: #008AFF;
	align-items: center;
	margin-bottom: 100px;
}
/*left style ------*/
.contain-two img{
	width: 50%;
	height: auto;
	
}

/*right style*/
.rightside{
	margin:25px;
	color: white;
}
.para{
	text-align: center;
	font-family: Montserrat SemiBold;
	font-size: 50px;
	margin-bottom: 40px;
}
.para2{
	text-align: center;
	font-family: Montserrat SemiBold;
	font-size: 20px;
	margin-bottom: 40px;
}
/*simplonn power style ------*/
.contain-simplon{
	background:linear-gradient(rgb(0,0,0,0.6),rgb(0,0,0,0.6)),url("bg.JPG");
display: flex;
	width: 100%;
	height: 480px;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;		

}
#fontit{
	color: #008AFF;
	font-size: 25px;
	margin-bottom: 0px;
}
#fontit2{
	color: #FFF;
	font-size: 50px;
	margin-top: 0px;	
}
/*style numbers sections --------*/
.contain-numbers{
	display: flex;
	justify-content: space-around;
	background-color: #008AFF;
	color: white;
	padding-bottom: 40px;
	padding-top: 40px;
}
.numb{
	text-align: center;
	font-size: 18px;
}
#middlenumb{
	border-right: 1px dashed black;
	border-left: 1px dashed black;
	padding-right: 100px;
	padding-left: 100px;

}
/*second white styling-----------*/
/*1St part ----------*/
.second-white{
	display: flex;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 90px;
}
/*2St part ----------*/
.sponsor{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: Montserrat Medium;

}
.sponsor h1, #Aaa h1{
	letter-spacing: 4px;
}
 #Aaa h1{
	letter-spacing: 4px;
}
/*2rd part -------*/
.second-white3{
	display: flex;
	justify-content: center;
	margin-top: 90px;
	
}
.mid-contain{
	display: flex;
	justify-content: space-around;
}
.non-button{
	padding-top: 20px;
	padding-bottom: 20px;
}
.non-non-button{

	background-color: #008AFF;
	color: white;
	text-decoration: none;
	border-radius: 30px;
	padding-right:200px ;
	padding-left:200px ;
	margin-left:60px ;
	padding-top: 20px;
	padding-bottom: 20px;


}

/*footer styling-----------*/
footer{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: white;
	background-color: black;
	margin-top: 90px;
}
.greyfont{
	color:#666666;
}
.icons{
	display: flex;
	justify-content: space-evenly;
	color:#FFF;

}
/*----------------------------------------------*/
@media only screen and (max-width: 1340px) {
 .second-white, .second-white2, .second-white3{
 	text-align: center;
 }
 nav a {
 	font-size: 12px;
 }
 .contain-two{
 	flex-direction: column;
 }
 .layers{
 	flex-direction: column;
 }
.contain-two img{
width: 100%
}
.contain-numbers{
	flex-direction: column;
}

  #middlenumb{
	border-right: none;
	border-left: none;
	border-top: 1px dashed black;
	border-bottom: 1px dashed black;
	}
	 .center-contain {
  	justify-content: center;
  	margin-left: 0;
  	text-align: center;
  }
}
@media (min-width: 99em) {
 
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  

}
@media only screen and (max-width: 725px) {
.buttons{
	flex-direction: column;
	justify-content: space-around;
}
#fav1{
	display: block;
	margin-bottom: 20px;
	font-size: 18px;
}
#fav2{
	display: block;
	font-size: 18px;
}
.second-white3{
	flex-direction: column;
	text-align: center;
}
.non-non-button{
	text-align: center;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}
footer{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
}